.content {
  height: 100%;
}

.sample-test {
  margin-bottom: 1em;
  position: relative;
  top: -1px;
  .input, .output {
    border: 1px solid var(--color-neutral-4);
  }
  h4 {
    padding: 0.25em;
    margin: 0;
    border-bottom: 1px solid var(--color-neutral-4);
    text-transform: lowercase;
    font-weight: bold;
    .btn-copy {
      font-size: 12px;
      float: right;
      color: var(--color-text-3) !important;
      cursor: pointer;
      border: 1px solid var(--color-border-1);
      padding: 3px;
      margin: 1px;
      line-height: 1.1rem;
      text-transform: none;
      text-decoration: none !important;
    }
  }
  pre {
    padding: 0.25em;
    margin: 0;
    background-color: var(--color-neutral-1);
    border: none;
    overflow-x: auto;
  }
}
