# ignore bott files
/results/*
/cha_results/*
/raw_files/*
/cha_raw_files/*
*.bott

# ignore CodeBlocks/Netbeans project files
bin
build
*.cbp
*.layout
*.depend
dist
nbproject
obj
.dep.inc
*.o
Makefile
**/.deps
**/autom4te.cache

# ignore CLion project files
.idea
CMakeLists.txt
cmake-build-debug

# ignore log files
*.log
nohup.out

# ignore config files
config.ini
