.hero {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: rgb(var(--arcoblue-5));
  color: var(--color-neutral-1);
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}

.features {
  padding: 2rem 0;
  text-align: center;
  color: var(--color-text-1);
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 16px;
  }
}
.section-title {
  text-align: center;
  color: var(--color-text-2);
  font-size: 2rem;
}

.problem-link {
  display: block;
  margin-top: 15px;
  padding: 0;
  background-color: unset;
}
.problem-link:hover {
  background-color: unset;
}
.card-with-icon-hover {
  .icon-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all 0.1s;
  }
  .icon-hover:hover {
    background-color: rgb(var(--gray-2));
  }
}